.wrapper {
    margin-left: 1rem;
}

.input-container {
    margin: 1rem;
}

.mouse-over-input {
    border: solid 3px rgb(188, 188, 253);
}

input {
    border-radius: 5px;
    border: solid 2px black;
}
.invalid input {
    border-color: brown;
    border: solid 2px brown;
    background-color: rgb(230, 183, 183);
}

ul {
    list-style: none;
}

.errorlist li {
    color: brown;
}

button {
    border-radius: 5px;
    margin-left: 1rem;
}