<div class="field-container mb-3">
    <label for="{{ field.id_for_label }}" class="form-label" name="{{ field.name }}">{{field.label}}
        <input
            for="{{ field.id_for_label }}"
            type="file"
            class="form-control {% if field.errors %}is_invalid{% endif %}"
            id="{{ field.id_for_label }}"
            accept="image/*"
            name="{{ field.name }}"
            {% if field.value %} value="{{ field.value }}" {% endif %}
        >
    </label>
    {% if field.value %}
        <b>current img: {{field.value}}</b>
        <img class="edit-preview" src="/media/{{field.value}}" alt="">
    {% endif %}
                              
    {{field.errors}}
</div>