<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
        {% if field.widget_type == "text" or field.widget_type == "number" %}
            {% include "form/text_input.html" %}
        {% elif  field.widget_type == "clearablefile" %}
            {% include "form/file_input.html" %}
        {% elif  field.widget_type == "selectmultiple" %}
            {{field.label_tag}}
            {% include "form/select_input.html" with choices=field.field.widget.choices %}
        {% else %}
            {{field.label_tag}}
            {{field}}
            {{field.widget_type}}
        {% endif %}        
    {% endfor %}
    {{field}}
    <button class="btn btn-primary mb-3" type="submit">Create new account</button>
</form>