.form-container {
    margin: 0 20% ;
    line-height: 1rem;
    border: 3px solid rgb(208, 208, 208);
    border-radius: 10px;
    padding: 2rem;
}

button {
    margin: 1rem 0;
    border-radius: 5px;
}

img {
    max-width: 200px;
    min-height: 300px;
}

.main-container {
    margin: 2rem;
}

.artist-element {
    padding: 2rem;
}