
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/fa0264863d.js" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'navbar.css'%}">    
    {% block css_file %}{% endblock css_file %}
    {% block js_file %}{% endblock js_file %}
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    {% include "navbar.html" %}
    {% block content %}{% endblock content %}
</body>
</html>