<style>
    i {
        color: white;
        margin: 0 1rem;
    }
</style>
<nav>
    <div class="name-logo">
        <a href="{% url 'home' %}">
            <i class="fa-solid fa-house">
                <span class="site-name">Music world</span>
            </i>
        </a>
    </div>
    <div class="nav-links">
        <ul>
            <li><a href="{% url 'albums' %}"><i class="fa-solid fa-record-vinyl"><span>Albums</span></i></a></li>
            <li><a href="{% url 'artists' %}"><i class="fa-solid fa-people-group"><span>Artist</span></i></a></li>
            <li>Sign In</li>
        </ul>
    </div>
    
</nav>