{% extends "base.html" %}
{% load static %}
{% block css_file %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock css_file %}

{% block title %}Artist List{% endblock title %}

{% block content %}
<div class="main-container">
    <h2>All artist</h2>
    <div class="list-container">
        
        {% for artist in artists %}
            <div class="artist-element">
                <div class="artist-name">
                    <h3><a href="{% url 'artist' pk=artist.id %}">{{artist.name|title}}</a></h3>
                </div>
                <div class="artist-img">
                    <img src="{{artist.img.url}}" alt="{{artist.name}} img">
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}