{% extends 'base.html' %}
{% load static %}
{% block css_file %}
    <link rel="stylesheet" href="{% static 'artist.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock css_file %}
{% block title %}{{artist.name}}{% endblock title %}

{% block content %}
    <div class="main-container">
        <div class="artist-element">
            <div class="artist-name">
                {{artist.name|title}}
            </div>
            <div class="artist-img">
                <img src="{{artist.img.url}}" alt="{{artist.name}} img">
            </div>
        </div>
    </div>
{% endblock content %}