{% extends 'base.html' %}
{% load static %}
{% block css_file %}
    <link rel="stylesheet" href="{% static 'app_management/css/add_artist.css' %}">
{% endblock css_file %}
{% block js_file %}<script src="{% static 'app_management/js/add_artist.js' %}"></script>{% endblock js_file %}
    

{% block title %}Add New Artist{% endblock title %}

{% block content %}
<div class="wrapper">
    <div class="header">
        <h2>Add new artist</h2>
        <p>Remeber to make a query to see if artist already exist.</p>
    </div>
    <div class="form-container">
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="input-container {% if field.errors %}invalid{% endif %}">
                    {{field.label}} <br>
                    {{field}}                  
                    {{field.errors}}               
                </div>
            {% endfor %}
            <!-- <input type="text" onclick=""> -->
            <button type="submit">Add</button>
        </form>
    </div>
</div>
{% endblock content %}